.header {
  position: relative;
  border-bottom: 1px solid #ECECEC;
   width: 100%;
  height: 60px;
.container {
  height: 100%;
}

@include tab {
  height: 80px;
}

  @media screen and (max-width:767px){
   
    .container {
        display: flex;
        align-items: center; 
  }
}
  
  @include desk {
    margin-left: auto;
    margin-right: auto;
  }
}

.header__container {
  display: flex;
  align-items: center;
  height: 100%;
}

.header__logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  margin-right: 93px;

  @include tab {
    font-size: 24px;
    line-height: 1.17;
  }

    .header__logo-web {
    color: $link-color;
  }
}

.mob-menu{
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 25px;
  padding-right: 69px;
  background-color: #ffffff;
  overflow:auto;
  
  @include tab{
    display: none;
  }

.container{
      height: 100%;
      width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

   @media screen  and (max-width: 767px){
    align-items: start;
   } 
  }
  &__link{
    display: block;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 40px;
      line-height: 1.18;
      letter-spacing: 0.02em;
      color: $first-btn-color;
      transition: color $transparent-animation;
      }
      &:hover,
      &:focus {
      color: $link-color;
      transition: color $transparent-animation;
  }
}

.mob-menu__link.mob-menu__current {
  color: #2196F3;
}

.menu-open-btn {
  display: block;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border: none;
  @include tab {
    display: none;
  }
}

.menu-close-btn{
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border: none;
    &:hover{
  fill: #2196F3;
    }
}



.mob-contacts-list__item:not(:last-child){
  margin-bottom: 32px;
}

.mob-contacts-list__link{
  font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #757575;
    transition: color $transparent-animation;
  
    &:hover,
    &:focus {
      color: $link-color;
      transition: color $transparent-animation;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
}

.mob-contacts-list__link--tel{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #2196F3;
}

  .mob-menu__item:not(:last-child){
  margin-bottom: 32px;
}


.social-list{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 15px;
 gap: 8px;
 row-gap: 10px;
}



.social-list__link{
  font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196F3;
    cursor: pointer;
      &:hover,
      &:focus {
        color: $link-color;
        transition: color $transparent-animation;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        }
    }

    

.social-list__item:not(:last-child)::after{
  content: " ";
  width: 0;
  height: 22px;
  border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
  margin-left: 10px;
}